.container {
    display: flex;
    flex-direction: column;
    background-color: #dd082e;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 12px 15px -1px rgba(0,0,0,0.87);
    box-shadow: 2px 12px 15px -1px rgba(0,0,0,0.87);
}

.title {


}
