.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    flex: 1;
    color: white;
}
